.page-header
  = link_to new_event_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Event
  %h1 Listing events

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Location
        %th Address
        %th{colspan: 4}

    %tbody
      - @events.each do |event|
        %tr
          %td= event.location
          %td= event.address
          %td
            = link_to event do
              %span.glyphicon.glyphicon-ok
          %td
            = link_to edit_event_path(event) do
              %span.glyphicon.glyphicon-pencil
          %td
            = link_to event, data: { confirm: 'Are you sure?' }, method: :delete do
              %span.glyphicon.glyphicon-remove
          %td
            - if @favorites.item_id == @items
              %span.glyphicon.glyphicon-star
            - else
              %span.glyphicon.glyphicon-star-empty
