= form_for @item, html: { class: "form-horizontal", role: "form" } do |f|
  -if @item.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"

      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :description, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :description, class: 'form-control'
  .form-group
    = f.label :photo, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.attachment_field :photo, class: 'form-control'
  .form-group
    = f.label :min_bid, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :min_bid, class: 'form-control'
  .form-group
    = f.label :bid_increment, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :bid_increment, class: 'form-control'
  .form-group
    = f.label :final_bid, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :final_bid, class: 'form-control'
  .form-group
    = f.label :category, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :category, options_for_select(Event::DESCRIPTIONS, @item.description ), class: 'form-control'
  .form-group
    = f.label :user, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :user, class: 'form-control'
  .form-group
    = f.label :event_id, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :event_id, class: 'form-control'
  .form-group
    = f.label :min_bid, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :min_bid, options_for_select(Restaurant::PRICES, @item.min_bid ), class: 'form-control'
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
