%tr
  %td= item.event.location
  %td= item.description
  %td= item.min_bid
  %td= item.bid_increment
  %td= item.final_bid
  %td= item.category
  %td= item.user.name
  %td
    - if item.photo
      = image_tag attachment_url(item, :photo), size: "200x200"

    -# - item.pictures.each do |picture|
    -#   = image_tag attachment_url(picture, :image), size: "200x200"
  %td
    = link_to item do
      %span.glyphicon.glyphicon-ok
  %td
    = link_to edit_item_path(item) do
      %span.glyphicon.glyphicon-pencil
  %td
    = link_to item, data: { confirm: 'Are you sure?' }, method: :delete do
      %span.glyphicon.glyphicon-remove
  %td
    - if item.favorites.where(user_id: current_user.id).empty?
      = link_to favorite_item_path(item) do
        %span.glyphicon.glyphicon-star-empty
    - else
      = link_to favorite_item_path(item) do
        %span.glyphicon.glyphicon-star
%tr
  = item.id
  - if !item.bids.empty?
    - @highest_bid = item.bids.last
    = @highest_bid.bid_amount
  - else
    = item.min_bid
  = form_tag(bid_item_path(item)) do
    .input-group
      %span.input-group-addon $
      %input.form-control{"aria-label" => "Amount (to the nearest dollar)", :type => "text", :name => "bid_amount"}/
      %span.input-group-addon .00
      %span.input-group-btn
        %button.btn.btn-default{:type => "submit"} Go!
