.container-fluid.container-listings
  .form-group
    = select_tag :min_bid, options_for_select(Item::PRICES, params[:min_bid] ), class: 'form-control'
    %button.btn.btn-default{:type => "submit"} Search
    = select_tag :category, options_for_select(Event::DESCRIPTIONS, params[:description] ), class: 'form-control'
    %button.btn.btn-default{:type => "submit"} Search
  .row
    - @items.each do |item|
      .col-sm-6.col-md-6.col-xs-6
        = link_to [@event, item] do
          .img-thumbnail{:style => "border:none; background:white;"}
            .image-container
            = image_tag attachment_url(item, :photo), size: "120x120", class: "item-image"

      -# .row
      -#   .search-results
      -#     = render @items
      .row
        .col-md-6.col-xs-6
          .item.search-results
            = item.category
      .row
        .col-md-6.col-xs-6
          .item-basic-info
            = item.name
        .col-md-6.col-xs-6
          .item-final-bid
            $
            = item.final_bid
          .row
            .col-md-6.col-xs-6
              .item-basic-info
                = item.name
            .col-md-6.col-xs-6
              .item-final-bid
                $
                = item.final_bid
