.container-fluid.container-listings
    = form_tag(event_items_path, method: "Get", class: 'form-control') do
    .form-group
      Pricing
      = select_tag :min_bid, options_for_select(Item::PRICES, params[:min_bid] ), class: 'form-control'
    = button_tag "Search", class: "btn btn-default"
    .form-group
      Categories
      = select_tag :category, options_for_select(Event::DESCRIPTIONS, params[:description] ), class: 'form-control'
    = button_tag "Search", class: "btn btn-default"
  .row.item-listing
    - @items.each do |item|
      .col-sm-6.col-md-6.col-xs-6.img-cont
        = link_to [@event, item] do
          .img-thumbnail{:style => "border:none;"}
            .image-container
            = image_tag attachment_url(item, :photo), size: "120x120", class: "item-image"
            .row
              .col-md-4.col-xs-4.star
                - if item.favorites.where(user_id: current_user.id).empty?
                  = link_to favorite_event_item_path(@event, item) do
                    %span.glyphicon.glyphicon-star-empty
                - else
                  = link_to favorite_event_item_path(@event, item) do
                    %span.glyphicon.glyphicon-star
 
.pagnination_index
  =paginate @items

