.page-header
  - item = @item
  .col-sm-12.show_img
    = image_tag attachment_url(@item, :photo), class: "show_img"
  %h5.current_bid
    = item.id
    - if !item.bids.empty?
      - @highest_bid = item.bids.last
      = @highest_bid.bid_amount
    - else
      = item.min_bid
    = form_tag(bid_event_item_path(@event, item)) do
      .input-group
        %span.input-group-addon $
        %input.form-control{"aria-label" => "Amount (to the nearest dollar)", :type => "text", :name => "bid_amount"}/
        %span.input-group-addon .00
        %span.input-group-btn
          %button.btn.btn-default{:type => "submit"} Go!
  %h1.bid_number
    %span.dollar $
    = @item.final_bid
  %h1= @item.name
%dl.dl-horizontal
  %dt Description:
  %dd= @item.description
  %dt Min bid:
  %dd= @item.min_bid
  %dt Bid increment:
  %dd= @item.bid_increment
  %dt Current bid:
  %dd= @item.final_bid
  %dt Category:
  %dd= @item.category
  %dt User:
  %dd= @item.user
