.page-header
  -# = link_to items_path, class: 'btn btn-default' do
  -#   %span.glyphicon.glyphicon-list-alt
  -#   Back
  -# = link_to edit_item_path(@item), class: 'btn btn-primary' do
  -#   %span.glyphicon.glyphicon-pencil
  -#   Edit

  .col-sm-12.show_img
    = image_tag attachment_url(@item, :photo), class: "show_img"
  %h5.current_bid CURRENT BID:
  %h1.bid_number
    %span.dollar $
    = @item.final_bid
  %h1= @item.name
%dl.dl-horizontal
  %dt Description:
  %dd= @item.description
  %dt Min bid:
  %dd= @item.min_bid
  %dt Bid increment:
  %dd= @item.bid_increment
  %dt Current bid:
  %dd= @item.final_bid
  %dt Category:
  %dd= @item.category
  %dt User:
  %dd= @item.user
